<div class='contain-to-grid'>
  <nav class='top-bar'>
    <ul>
      <li class='name'><h1><a href='#'>Sandbox</a></h1></li>
      <li class='toggle-topbar'><a href='#'></a></li>
    </ul>
    <section>
      <ul class='left'>
        <li><a href='#'>+ Add</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class='row'>
  <div class='four columns'>
    <h1>Testing</h1>
    <p>Why don't you give the 'Add' button a go?</p>
  </div>
</div>
