<% content_for :title, "Home" %>

<div class='contain-to-grid'>
  <nav class='top-bar'>
    <ul>
      <li class='name'><h1><a href='#'>Sandbox</a></h1></li>
      <li class='toggle-topbar'><a href='#'></a></li>
    </ul>
    <section>
      <ul class='left' ng-controller='CurationController'>
        <li><a ng-click='startCuration()'>+ Add</a></li>
      </ul>
    </section>
  </nav>
</div>

<div class='row' ng-controller="CurationController">
  <div class='four columns'>
    <h1>Testing</h1>
    <p>Why don't you give the 'Add' button a go?</p>
    <pre>{{curation|json}}</pre>
    <p>You may also access the curation object via `window.curation` on the JS console.</p>
  </div>
</div>

<!-- HTML for curation modals -->
<!-- These could turn into Ajax loads with ng-include -->
<div ng-controller="CurationController" style='display: none;'>
  <!-- select action -->
  <div curation-step="introduction">
    <div ng-controller="CurationIntroductionController" class='curation-modal'>
      <p>Select add method:</p>
      <button ng-click="chooseAddUrl()">Add from URL</button>
      <button ng-click="chooseUpload()">Upload</button>
      <button ng-click="chooseAddBoard()">Add Board</button>
    </div>
  </div>

  <!-- enter URL -->
  <div curation-step="url">
    <div ng-controller="CurationUrlController" class='curation-modal'>
      <a ng-click='back()'>Back</a><br />
      <form ng-submit="next()">
        URL: <input ng-disabled='busy' required ng-model='curation.learning.url' ng-change='changeUrl()'><br />
        <button ng-disabled='busy'>Next</button>
      </form>
    </div>
  </div>

  <!-- upload -->
  <div curation-step="upload">
    <div ng-controller="CurationUploadController" class='curation-modal'>
      <a ng-click='back()'>Back</a><br />
      <p>This is the upload modal</p>
    </div>
  </div>

  <!-- board -->
  <div curation-step="board">
    <div ng-controller="CurationBoardController" class='curation-modal'>
      <a ng-click='back()'>Back</a><br />
      <p>This is the board modal</p>
    </div>
  </div>

  <!-- select image -->
  <div curation-step="image">
    <div ng-controller="CurationImageController" class='curation-modal image-select-modal'>
      <a ng-click='back()'>Back</a><br />
      <div class='image-select'>
        <div ng-repeat="image in curation.imageUrls" class='image'
             ng-click='select(image)'
             ng-class='{selected:selected(image)}'>
          <img ng-src="{{image}}">
        </div>
      </div>
      <button ng-click='next()' ng-disabled='curation.learning.imageUrl==""'>Next</button>
    </div>
  </div>
</div>
