.curation-modal {
  padding: 10px;
  min-width: 300px;

  form {
    margin: 0;
  }

  &.introduction-modal {
    min-width: 375px;
  }

  &.url-modal {
    input {
      padding: 3px;
      margin-bottom: 10px;
      width: 275px;
      font-size: 13px;
    }
  }

  &.image-select-modal {
    height: 335px;

    .image-select {
      width: 275px;
      height: 250px;
      overflow: auto;
      margin-bottom: 10px;

      .image {
        vertical-align: top;
        display: inline-block;
        width: 81px;
        height: 81px;
        border: 1px solid white;
        padding: 3px;

        &:hover, &.selected {
          border: 1px solid blue;
        }
      }

      img {
        // max-width: 75px;
        // max-height: 75px;
        // padding: 3px;
      }
    }
  }
}
