.curation-modal {
  padding: 10px;
  min-width: 300px;

  &.image-select-modal {
    height: 300px;

    .image-select {
      width: 275px;
      height: 250px;
      overflow: auto;

      .image {
        vertical-align: top;
        display: inline-block;
        width: 81px;
        height: 81px;
        border: 1px solid white;
        padding: 3px;

        &:hover, &.selected {
          border: 1px solid blue;
        }
      }

      img {
        // max-width: 75px;
        // max-height: 75px;
        // padding: 3px;
      }
    }
  }
}
